<!DOCTYPE html>
<html lang="{{ app.language }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="{{ eleventy.generator }}">
    
    {% if app.description %}
    <meta name="description" content="{{ app.description }}">
    {% endif %}
    <title>{{ title or app.title }}</title>

    <link rel="stylesheet" href="{{ '/styles/app.css' }}"> 
    <script src="{{ '/scripts/app.js' }}" type="text/javascript"></script>
</head>
<body>
    {{ content | safe }}
</body>
</html>